* {
  user-select: none;
}


body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url("/images/image01.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  font-family: sans-serif;
  /* float: none; */
  /* overflow: hidden; */
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #b8860b,
      0 0 40px #b8860b, 0 0 50px #b8860b, 0 0 60px #b8860b, 0 0 70px #b8860b;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #daa520, 0 0 40px #daa520,
      0 0 50px #daa520, 0 0 60px #daa520, 0 0 70px #daa520, 0 0 80px #daa520;
  }
}

/* Now styling the individual key */
.keys {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  cursor: pointer;
}

.key {
  width: 118px;
  height: 230px;
  border: 5px solid black;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 10px;
  /* border: 10px solid #daa520; */
  box-shadow: 0px 0px 10px 5px #b8860b inset;
  /* backdrop-filter: blur(20px); */
  outline: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.playing {
  box-shadow: 0px 0px 0px 10px #b8860b inset;
  border-color: #daa520;
  transform: scale(1.2);
}

/* designing the kbd */
.key div {
  height: 100px;
  width: 117px;
  font-size: 100px;
  color: wheat;
  text-align: center;
}

.key span {
  font-size: 25px;
  color: aliceblue;
  /* margin-left: 40px; */
  margin: auto;
  font-family: sans-serif;
}

.btn {
  width: 130px;
  height: 70px;
  border: 5px solid black;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 10px;
  margin: auto;
  margin-top: 2rem;
  /* border: 10px solid #daa520; */
  box-shadow: 0px 0px 10px 5px #b8860b inset;
}

.btn a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: black;
}

/* adding media queries to the KS Drum Kit */
@media (min-width: 320px) and (max-width: 376px) {
  body {
    height: 100%;
  }
}

@media (min-width: 377px) and (max-width: 768px) {
  body {
    height: 100%;
  }
}
